@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
   background: linear-gradient(to bottom right, #0100ec, #fb36f4);
  font-family: 'Muli', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

h3{ 
    color: #fff;
    margin: 10px 0px 20px;
    text-align: center;
}

.container{
    width: 500px
}

textarea{
    border:none;
    width: 100%;
    display: block;
    border-radius:5px;
    padding-top: 10px; 
    padding-bottom: 10px;
    text-align: center;
    font-family: inherit;
    margin: 0 0 20px;
    font-size: 16px;
}

textarea::placeholder {
  text-align: center;
}

.tag{
    background-color: rgb(248, 97, 9);
    color: #fff;
    border-radius: 50px;
    padding:10px 20px;
    margin: 0 5px 10px 0;
    font-size:14px;
    display: inline-block;
}

.tag.highlight{
    background-color: aqua;
}