/* 1. Setup & Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');

:root {
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--cream);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; /* Vertical center */
    justify-content: center; /* Horizontal center */
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    background-color: var(--white);
    border-radius: 10px;
    overflow: hidden; /* Clips image corners to match border-radius */
}


.container--left {
    background: url('./images/image-product-mobile.jpg') no-repeat center/cover;
    height: 240px;
    width: 100%;
}

.container--right {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

h2 {
    font-size: 0.75rem;
    letter-spacing: 5px;
    color: var(--dark-grayish-blue);
    font-weight: 500;
}

h1 {
    font-family: 'Fraunces', serif;
    font-size: 2rem;
    line-height: 1;
    color: var(--very-dark-blue);
}

p {
    font-size: 0.875rem;
    color: var(--dark-grayish-blue);
    line-height: 1.6;
}

.price-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.order {
    font-family: 'Fraunces', serif;
    color: var(--dark-cyan);
    font-size: 2rem;
}

.order-span {
    color: var(--dark-grayish-blue);
    text-decoration: line-through;
    font-size: 0.8rem;
}

button {
    background-color: var(--dark-cyan);
    color: var(--white);
    border: none;
    padding: 15px;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: background 0.3s;
}

button:hover {
    background-color: hsl(158, 36%, 20%);
}

.svg-icon {
    width: 15px;
    height: 15px;
}

@media (min-width: 600px) {
    .container {
        flex-direction: row;
    }

    .container--left {
        background: url('./images/image-product-desktop.jpg') no-repeat center/cover;
        height: auto;
        width: 50%;
    }

    .container--right {
        width: 50%;
        padding: 32px;
        gap: 20px;
    }
}