body {
  font-family: Arial;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

input {
  width: 70%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 8px 10px;
  border: none;
  background: #4f46e5;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.app {
background: white;
  padding: 20px;
  width: 320px;
  border-radius: 8px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}
li {
 display: flex;
  align-items: center;
  gap: 8px;
  background: #f9f9f9;
  padding: 6px;
  border-radius: 4px;
}

.completed {
  text-decoration: line-through;
  color: gray;
}
